/***Fonts***/
/**Roboto**/
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Regular-Light.woff') format('woff');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.woff') format('woff');
}
/**Open Sans**/
@font-face {
    font-family: "OpenSans-Bold";
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: "OpenSans-Light";
    src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Regular.ttf);
}
/*******************/

/*********Generic Styles & Utilities**********/
html,body
{
    margin:0;
    padding:0;
    font-family:Roboto-Regular;
    overflow: hidden;

}
.full-height-width
{
   height:100%;
    width:100%;
}
/*CSS approach to using cross browser fill remaining height pattern to enable dyanmic content heights with dynamic headers height */
/**For reliability reasons flexbox should not be used in core application compenents (items that may break page view)**/
.fill-remaining-height-wrap
{
    position:relative;
    display: table;   
}
.fill-remaining-height-static
{
    display:table-row;
}
.fill-remaining-height
{
    /*dynamic part should take whatever space left from static heights*/
    display:table-row;
    height:100%;
    position: relative;
}
/*******************/
/***** Center Vertical Align : 2016 Approach ****/
/**Refer to http://caniuse.com/#feat=flexbox for compatibility**/
.vertical-center-wrap
{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
/**************************************************/

/*************** Shadows from materialize css ******************/
.shadow-0 {
  box-shadow: none !important;
}
.shadow-1{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.shadow-1-half{
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.shadow-2{
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shadow-3{
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.shadow-4{
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.shadow-5{
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
/**************************************************/