#empty-card-state
{
    width: 300px;
    height: 200px;
    position:absolute;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
#empty-card-state img
{
    width:100%;
}
#empty-card-state .warning-text
{
    font-size:1.2rem;
    color:#DFE3DB;
}
#sort-menu
{
    position: absolute;
    height: 250px;
    width: 250px;
    box-sizing: border-box;
    padding: 15px;
    z-index: 2;
    background: #453951;
    right: 0;
    color: #fff;
}
#city-cards-wrap
{
    position: relative;
        height: 100%;
        width: 100%;
        overflow-y: auto;
}
.city-card-wrap
{
    box-sizing: border-box;
    padding: 15px;
}
.city-card
{
    height:250px;
    background:#453951;
    background-image:url(../../img/landmarks.svg);
    background-position:bottom center;
    background-size:contain;
    background-repeat:no-repeat;
    box-sizing:border-box;
    padding:15px;
    color:#DFE3DB;
    display:table;
}
.card-header
{
    height:60px;
}
.city-card .city-weather-info
{
    float:left;
}
.city-card .city-name
{
    text-transform: capitalize;
    font-size:2rem;
}

.city-card .weather-icon
{
    font-size:60px;
    float:right;
}
.city-card .card-body
{
    text-align: center;
    font-size: 5.5rem;
}
.card-body .city-name
{
    text-transform:capitalize;
    font-size:4rem;
}
.city-card .card-footer
{
    display: table-row;
    vertical-align: bottom;
    height: 40px;
    line-height: 40px;
}
.card-footer .icon
{
    display: inline-block;
    vertical-align: middle;
}
.card-footer .icon:before
{
    font-size:40px;
}
.card-footer .card-footer-status
{
    margin-right:15px;
}
.card-footer .status-icon-text
{
    margin:-10px;
}
.card-footer .remove-city-card
{
    float:right;
}
.card-footer .remove-city-card a
{
    color:#DFE3DB;
}
