.main-header
{
    height:60px;    
    text-align:center;
    color:#fff;
}
.main-header .icon-wrap
{
    font-size:50px;
    cursor:pointer;
    float: left;
    height:100%;    
}
.main-header .icon:active
{
    background:#F0F0F0;
}
.main-header .app-logo
{
    width:200px;
    height:100%;
    float:left;    
}
.main-header .app-logo img
{
    margin:10px;
    height:70%;
    width:auto;
}

.main-header .icon
{
    color:#2D2633;
}
.main-header .search-input-wrap
{
    float: left;
    height: 100%;
    width: 300px;
}
.search-input-wrap .search-input
{
    border:none;
    outline:none;
    width:100%;
    margin-left:10px;
    font-size:1rem;
}



/*Hide Logo when screen width falls below 600*/
@media screen and (max-width: 600px) {
    .app-logo {
        display:none;
    }
    
    .search-input-wrap .search-input
    {
        margin:10px;
    }


}