<div class="main-header" bind="variables">         
        <span class="app-logo vertical-center-wrap">
            <img src="../../img/tws-logo.png" />
        </span>
        <span class="search-input-wrap vertical-center-wrap">
            <input ng-model="variables.cityName" class="search-input" type="text" placeholder="Your City Name Here e.g. Oslo" ng-enter="addCity(variables.cityName)">
          
        </span>
        <span class="icon-wrap vertical-center-wrap">
            <span class="icon icon-add" ng-class="{'disabled':variables.cityName.length===0}" ng-disabled="{{variables.cityName.length===0}}" ng-click="addCity(variables.cityName)"></span>
            <span class="icon icon-sort" ng-class="{'disabled':variables.isSortMenuShown}" ng-click="toggleSortMenu()"></span>           
        </span>   
            
</div>