<section id="home-page" class="main-page page">
  <div class="page-header">
    <input
      type="text"
      class="city-name-input"
      placeholder="City Name Here ..."
      [(ngModel)]="cityNameToAdd"
      required
    />
    <button (click)="addCity()">Add City</button>
  </div>
  <div class="page-body">
    <div *ngIf="cities.length === 0">
      <empty-home></empty-home>
    </div>

    <div class="city-names">
      <div *ngFor="let city of cities">
        <city-weather-card
          [city]="city"
          (deleteCityEvent)="deleteCity($event)"
        ></city-weather-card>
      </div>
    </div>
  </div>
</section>
