<div class="city-weather-card shadow-2">
  <div class="loading" *ngIf="isLoadingCity">Loading ...</div>
  <div *ngIf="city">
    <div class="card-header">
      <span>
        <span class="city-name">{{ city.name }}</span>
        <br />
        <span class="weather-state">{{ city.weather[0].main }}</span>
      </span>
      <span [ngClass]="'weather-icon icon-tw-'+city.weather[0].icon"></span>
    </div>
    <div class="card-body">
      <span>{{ city.main.temp }}&deg;</span>
    </div>
    <div class="card-footer">
      <span class="card-footer-status">
        <span class="icon icon-humidity"></span>
        <span class="status-icon-text">{{ city.main.humidity }} %</span>
      </span>
      <span class="card-footer-status">
        <span class="icon icon-wind"></span>
        <span class="status-icon-text">{{ city.wind.speed }} KM/H</span>
      </span>
    </div>
  </div>
</div>
